<h1>Edit Artist Form</h1>

<%= form_for(@artist) do |s| %>
    <%= s.label :name %>
    <%= s.text_field :name %><br>

    <%= s.label :bio %>
    <%= s.text_field :bio %> <br>

    <%= s.submit %>
<% end %>